<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans:300,400,600,700" rel="stylesheet">
</head>
<body>
  <div id = "wrap">
   <%= render 'shared/nav' %>
<div class="container">
<%= yield %>
</div>
</div>
 <%= render 'shared/foo' %>
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav navbar-right">
         <li><%=link_to 'All Ideas',root_path %></li>
         <li><%=link_to 'About',about_path %></li>
     </ul>
 </div>
</body>
</html>
